<%- include('partials/header.ejs') %>

<!-- Home page -->



<div class="home">
    
    
    <nav class="navbar fixed-top navbar-light ">
        <ul class="nav justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="../images/logo1.jpg">
            </a>
               
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Register</a>
              </li>
          </ul>
    </nav>
</div>


<!-- set the background image -->
<div class="bgImage"  >
    <img class=" " src="../images/tech5.jpg">
</div>
<div class="main2">
   
    <div class="main-box">
        <div style="font-size: 2.4rem; margin-top: -8%;">April 1<span>st</span> - April 4<span>th</span> 2021, Virtual</div>
        <div style="margin-top:4%; font-size: 1.3rem;">Registration is open! Don't wait.</div>
        <a  class="registerBtn" link="#">Register</a>
       <div style="margin-top: 1%;">Open for under all students--undergrads postgrads edit this</div> 
    </div>
    <div class="title1">CYNOSURE <span>2021</span></div>
    
</div>
<div class="time">
    <div class="timeDisplay">
        <div id="days"><span>00</span></div>
        <div id="hours"><span>00</span></div>
        <div id="mins"><span>00</span></div>
        <div id="secs"><span>00</span></div>
    </div>
    <div class="timedisp">
        <div >Days</div>
        <div >Hours</div>
        <div >Minutes</div>
        <div >Seconds</div>
    </div>
    <div id="end">Time Up!</div>
</div>

<div class="lookBack">
    <div class="content">
        <div class="head1">A look back,</div>
        <div class="des1">
            of a page when looking at its layout. The point of using Lorem Ipsum is 
            that it has a more-or-less normal distribution of letters, as opposed to 
            using 'Content here, content here', making it look like readable English. Ma
            ny desktop publishing packages and web pa
        </div>
    </div>
    <div class="imgtime">
        <img src="../images/lookback.svg">
    </div>
</div>
<div class="aboutProg">
    <div class="content1">
        <div class="head2">About Program,</div>
        <div class="des2">
            of a page when looking at its layout. The point of using Lorem Ipsum is 
            that it has a more-or-less normal distribution of letters, as opposed to 
            using 'Content here, content here', making it look like readable English. Ma
            ny desktop publishing packages and web pa
        </div>
    </div>
    <div class="imgProg">
        <img src="../images/final1.png">
    </div>
</div>


<!-- PHOTOS -->
<div class="team">OUR TEAM</div>
<div class="container">
    <div class="row row-flex row-flex-wrap">
  
      
      <div class="col-md-3">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      
  </div>
</div>

<div class="container">
    <div class="row row-flex row-flex-wrap">
  
      
      <div class="col-md-3">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      <div class="col-md-3" style="visibility: hidden;">
        <div class="well">
            <img src="../images/mem0.jpg">
        </div>
        <div class="well2">
            <div class="mem_name">Khushboo Gupta</div>
            <div class="mem_post">President</div>
        </div>
      </div>
      
  </div>
</div>
  
<%- include('partials/footer.ejs') %>