<%- include('partials/scheduleHeader.ejs') %>

<div class="container">
    <div class="col">
      <div class="col-sm-1">
        <div class="photo"><img src="../images/tech5.jpg"></div>
        <div class="content">
            <div class="title">EVENT ONE</div>
            <div class="desc">indigenous' refers to the notion of a place-based human ethnic culture that has not migrated from its homeland, and is not a settler or colonial population. To be indigenous is therefore by definition different from being of a world culture, such as the Western or Euro-American culture.</div>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="photo"><img src="../images/tech5.jpg"></div>
        <div class="content">
            <div class="title">EVENT ONE</div>
            <div class="desc">indigenous' refers to the notion of a place-based human ethnic culture that has not migrated from its homeland, and is not a settler or colonial population. To be indigenous is therefore by definition different from being of a world culture, such as the Western or Euro-American culture.</div>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="photo"><img src="../images/tech5.jpg"></div>
        <div class="content">
            <div class="title">EVENT ONE</div>
            <div class="desc">indigenous' refers to the notion of a place-based human ethnic culture that has not migrated from its homeland, and is not a settler or colonial population. To be indigenous is therefore by definition different from being of a world culture, such as the Western or Euro-American culture.</div>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="photo"><img src="../images/tech5.jpg"></div>
        <div class="content">
            <div class="title">EVENT ONE</div>
            <div class="desc">indigenous' refers to the notion of a place-based human ethnic culture that has not migrated from its homeland, and is not a settler or colonial population. To be indigenous is therefore by definition different from being of a world culture, such as the Western or Euro-American culture.</div>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="photo"><img src="../images/tech5.jpg"></div>
        <div class="content">
            <div class="title">EVENT ONE</div>
            <div class="desc">indigenous' refers to the notion of a place-based human ethnic culture that has not migrated from its homeland, and is not a settler or colonial population. To be indigenous is therefore by definition different from being of a world culture, such as the Western or Euro-American culture.</div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/scheduleFooter.ejs') %>